            *{
                padding: 0;
                margin: 0;
            }
            .background {
                height: 100vh;
                width: 100%;
                background-image: url('https://i.pinimg.com/564x/ea/e8/a8/eae8a82bea9fb42022b4cc124489748a.jpg');
                background-position: center;
                background-size: cover;
                padding-left: 5%;
                padding-right: 5%;
                box-sizing: border-box;
                position: relative;
            }
            .navbar{
                background-color: whitesmoke;
                font-size:150%;
                width: 100%;
                height: 15vh;
                margin: auto;
                padding-right: 2cm;
                padding-left: 2cm;
                margin-left: -2cm;
                margin-right: 2cm;
                display: flex;/*Dùng để hiển thị một phần tử dưới dạng khối*/
                align-items: center;/*Căn giữa các căn chỉnh cho tất cả các mục của phần tử <div>*/
            }
            .logo{
                width: 130px;
                cursor: pointer;
            }
            nav{
                flex: 1;
                padding-left: 60px;
            }
            nav ul li{
                display: inline-block;
                list-style: none;
                margin: 0px 20px;
            }
            nav ul li a{
                text-decoration: none;/*đặt kiểu trang trí cho văn bản*/
                color: #333;
            }
            .content h1 {
                font-size: 100px;
                font-weight: 100;
                margin-top: 2cm;
                margin-bottom: 15px;
                margin-left: 4cm;
                color:black;
            }
            .content h2 {
                font-size: 60px;
                font-weight: 100;
                margin-top: 15px;
                margin-bottom: 15px;
                color:black;
            }
            .content p{
                font-size: 25px;
                color: black;
                margin-left: 8cm;
                margin-top: 1.8cm;    
                margin-right: 4cm;
            }
            .content {
                margin-left: 10%;
                margin-top: 5%;
            }
            .section {
                margin: 50px auto;
                max-width: auto;/*đặt chiều rộng tối đa cho phần tử*//*Nếu nội dung lớn hơn chiều rộng tối đa, nó sẽ tự động thay đổi chiều cao của phần tử.*/
                background-color: whitesmoke;
                opacity: 0.8;
                padding: 30px;
            }
            .section img{
                margin-top: 2.6cm ;
                margin-left:25cm;
                width: 470px;
                height: 310px;
                position: absolute;
            }
            .section button{
                position: absolute;
                margin-left: 17cm;
                margin-top: 1.4cm;
                height: 2cm;
                width: 4cm;
                border-radius: 1%;
                font-size: 100%;
                opacity: 0.8;
            }
            .section h{
                margin-left: 7cm;
                font-size: 28px;
            }
            .python{
                margin-top: 0.2cm;
                margin-left: 8cm;
                text-align: left;
            }
            .highlight {
                background-color: #f8f8f8;
                border: 1px solid #cccccc;
                padding: 10px;
            }